{% extends "booksapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<body> 
     <form method="post">
         {% csrf_token %} 
         <div class="form-group mb-2">
            {{ form.query|as_crispy_field }}  <!-- Используем crispy для отображения поля -->
        </div>
        <button class="btn btn-outline-dark" type="submit" name="search">Поиск</button> 
    </form>
{% if results %}
    <form method="post" name="book">
        {% csrf_token %}
        {{ form.book|as_crispy_field }} 
        <button class="btn btn-outline-dark" type="submit" name="select">Выбрать книгу</button>
    </form>
{% endif %}
<p></p>
<div class="container px-4">
    <h1>Популярные книги</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Изменено на g-4 для отступов -->
        {% for file in files %}

        <div class="col"> <!-- Оберните карточку в col для правильного отображения -->
            <div class="card p-3 border bg-light">
                <img src="{% static 'users/images/'|add:file %}" class="card-img-top" alt="..." style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-text">{{ titles|slice:forloop.counter|last }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %} 